@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --colorPrincipal:#000000;
    --colorSecundario:#BA3967;
    --fuenteSecundaria: 'Roboto', sans-serif;
    --fuentePrimaria: 'Lato', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(./img/fondo.jpg);
}

.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: grey;
    z-index: 5;
}

.cabecera__logo{
    max-width: 150px;
    padding-left: 50px;
}

.cabecera__menu{
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:15px;
}

.cabecera__menu__boton{
    text-decoration: none;
    color: white;
    font-size: large;
}

.cabecera__menu__boton:hover{
    text-decoration: none;
    color: rgb(255, 230, 0);
    font-size: large;
}

.bannerPrincipal{
    padding-top: 100px;
}

.card{
    border-radius: 10px;
    border: 3px dotted grey;
    margin-top: 20px;
    box-shadow: 4px 4px 15px grey;
}

.card-img-top{
    border-radius: 10px;
}

.card-title{
    font-size: 1.8em;
    text-align: center;
    padding: 15px 0;
}

.card-text{
    font-size: larger;
    font-weight: 400;
    padding: 0 0 20px 20px;
}

.separador{
    margin: 50px 0;
}

#peliculas{
    padding-top: 50px;
}


.tituloNuevaPelicula{
    text-align: center;
    font-size: 2.3em;
    padding: 20px 0;
}

.form-control-file{
    padding-top: 10px;
}

.guardar{
    margin-top: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
    margin-top: 60px;
}

.footer__nombre{
    color: white;
    font-size: 1em;
}