@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.principal{
    width: 100vw;
}

.cabecera{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.header{
 margin-left: 30px;
}

.header__titulo{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.menu{
    margin-right: 30px;
}

.menu__boton{
    text-decoration: none;
    color: white;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}

.menu__boton:hover{
    color:red;
}

.galeria{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap:10px;
    margin: 100px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria__imagen{
    width: 350px;
    box-shadow: 0px 0px 40px grey;
}

.galeria__imagen__img{
    max-width: 350px;
    height: auto;
    transition: transform .2s
}

.galeria__imagen__img:hover{
 transform: scale(1.5);   
}