@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.principal{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.cabecera{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #0D1F22;
    color: #B38A58;
}

.cabecera__header{
    align-self: center;
    margin-left: 70px;
}

.cabecera__header__texto{
    font-size: 2.5em;
}

.cabecera__menu{
    align-self: center;
    margin-right: 100px;
}

.cabecera__menu__boton{
    color: #B38A58;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding-right: 10px;
}

.cabecera__menu__boton:hover{
    color: #6F732F;
}

.contenido{
    width: 100%;
}

.contenido__banner{
    height: 600px;
    background-image: url("./img/fondo.jpg ");
    background-size: cover;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido__banner__titulo{
    margin-top:200px;
    font-size: 3em;
}

.contenido__banner__subtitulo{
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.contenido__descripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 50px 0 50px
}

.contenido__descripcion__izquierda{
    width: 40%;
}

.contenido__descripcion__izquierda__texto{
    margin-top:60px;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.contenido__descripcion__derecha{
    width: 40%;
}

.contenido__descripcion__derecha__imagen{
    width: 400px;
}

.contenido__descripcion__derecha__imagen__img{
    max-width: 600px;
    height: auto;
}

.contenido__destinos{
    margin-top: 50px;
    background-color: #B38A58;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap:50px;
    padding-bottom: 50px;
}

.contenido__destinos__tarjeta{
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
}

.contenido__destinos__tarjeta__imagen{
    width: 300px;
}

.contenido__destinos__tarjeta__imagen__img{
    max-width: 300px;
    border-radius: 5px 0px 0px 5px;
}

.contenido__destinos__tarjeta__contenido{
    width: 300px;
    margin: 10px 10px;
}

.contenido__destinos__tarjeta__contenido__titulo{
    text-align: center;
    color: #6F732F;
    margin-top: 10px;
}

.contenido__destinos__tarjeta__contenido__descripcion{
    margin-top: 30px;
    text-align: justify;
}

.contenido__destinos__tarjeta__contenido__precio{
    text-align: center;
    color: #6F732F;
    margin-top: 30px;
    font-size: 2em;
}

.contenido__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenido__formulario__form{
    display: flex;
    flex-direction: column;
}

.contenido__formulario__form__nombre{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px grey;
}

.contenido__formulario__form__origen{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px grey;
}

.contenido__formulario__form__destino{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px grey;
}

.contenido__formulario__form__persona{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px grey;
}

.contenido__formulario__form__fecha{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px grey;
}

.contenido__formulario__form__botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px
}

.contenido__formulario__form__botones__filtrar{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    background-color: #fff;
    color:#6F732F;
    font-size: 1.2em;
    border: 2px solid #6F732F;
    box-shadow: 2px 4px 6px #6F732F;
}

.contenido__formulario__form__botones__filtrar:hover{
    background-color: #fff;
    color:#10586e;
    border: 2px solid #10586e;
    box-shadow: 2px 4px 6px #10586e;
}

.contenido__formulario__form__botones__info{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    background-color: #fff;
    color:#6F732F;
    font-size: 1.2em;
    border: 2px solid #6F732F;
    box-shadow: 2px 4px 6px #6F732F;
}

.contenido__formulario__form__botones__info:hover{
    background-color: #fff;
    color:#10586e;
    border: 2px solid #10586e;
    box-shadow: 2px 4px 6px #10586e;
}


::placeholder{
    color:black;
    font-size: 1.2em;
}

.contenido__filtrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido__filtrar__busqueda__input{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px grey;
}

.contenido__filtrar__resultado{
    margin-top: 20px;
    margin-bottom: 50px;
}


.footer{
    background-color: #0D1F22;
    width: 100%;
    height: 50px;
    display: flex;
}

.footer__texto{
    margin-left: 70px;
    color:#B38A58;
    align-self: center;
}